.mail-box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ecf0f1;
  padding: 10px;
  border: 1px solid #bdc3c7;
  margin-bottom: 10px;

  span {
    flex: 1;
    margin-right: 10px;
  }
  button {
    width: 50px;
    height: 38px;
  }
  button,
  a {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;

    &:hover {
      background-color: #c0392b;
    }
  }
}
