.view-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;

  h2 {
    color: #3498db;
  }

  .view-span {
    height: 50px;
    display: flex;
    flex-direction: column;

    p {
      line-height: 1.5;
      color: #333;
    }
  }
}
